:root {
    --orange: #F79F1F;
    --text-color-1: #444;
    --text-color-2: #666;
    --bg-color-1: #fff;
    --bg-color-2: #eee;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 5rem;
}

body {
    background: var(--bg-color-2);
}

body.active {
    --text-color-1: #fff;
    --text-color-2: #eee;
    --bg-color-1: #333;
    --bg-color-2: #222;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .4);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    color: var(--text-color-1);
    font-size: 4rem;
}

.heading span {
    position: relative;
    z-index: 0;
}

.heading span::before {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 0;
    z-index: -1;
    background: var(--orange);
    height: 100%;
    width: 100%;
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--orange);
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    padding: 1.5rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: sans-serif;
    font-size: 2.5em;
}

.logo span {
    color: #e74c3c;
    font-weight: bolder;
}




.header .navbar {
    position: absolute;
    top: 115%;
    right: 7%;
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 25rem;
    transform: scale(0);
    transform-origin: top right;
}

.header .navbar.active {
    transform: scale(1);
}
.form-container form {
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.form-container form .inputBox {
    flex: 1 1 23rem;
}

.form-container form .inputBox span {
    font-size: 1.7rem;
    color: var(--text-color-2);
}

.form-container form .inputBox input {
    font-size: 1.5rem;
    color: var(--text-color-1);
    background: var(--bg-color-2);
    border-radius: .5rem;
    margin: .5rem 0;
    text-transform: none;
    width: 100%;
    padding: 1rem;
}

.form-container form .btn{
    flex: 1 1 23rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: auto;
}